In [3]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [4]:
""" Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5 """
for i in range(0,7):
    if i == 3 or i == 6:
        continue
    else:
        print(i)

0
1
2
4
5

In [11]:
""" Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the 
multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz"."""

for i in range(1,51):
    if i % 3 == 0 and i % 5==0:
        print("FizzBuzz")
    elif i % 5 == 0:
        print("Buzz")
    elif i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [15]:
""" Write a Python program to check a triangle is equilateral, isosceles or scalene.
Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with two equal sides.
Expected Output:
Input lengths of the triangle sides:                                    
x: 6                                                                    
y: 8                                                                    
z: 12                                                                   
Scalene triangle 
"""
x=int(input("Enter x"))
y=int(input("Enter y"))
z=int(input("Enter z"))
if x==y and x==z:
    print("Equilateral triangle")
elif x!=y and x!=z:
    print("Scalene triangle")
else:
    print("Isosceles triangle")

Enter x 7
Enter y 7
Enter z 7

Equilateral triangle

In [20]:
# Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish
finish=int(input('Enter finish'))
summ=0
for i in range(0,finish+1):
    summ=summ+i
avg=summ/finish
print(summ,f"{avg:.2f}")

Enter finish 12

78 6.50

In [42]:
""". Write a Python program to construct the following pattern, using a nested loop number.
1
22
333
4444
55555
666666
7777777
88888888
999999999
"""
for i in range (1,10):
    for j in range(i):
        print(i,end='')
    print("\n",end='')

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [44]:
# Write a Python program that counts the number of elements within a list that are greater than 30
c=0
lst=[2,34,545,65,7,75,34,66,78,34,64,2,2,557,8,32,13,12,2,4]
for i in lst:
    if i > 30:
        c+=1
print(c)

11

In [47]:
# Take values of length and breadth of a rectangle from user and check if it is square or not.
l=int(input("Enter l"))
b=int(input("Enter b"))
if l == b:
    print("Square")
else:
    print("Rectangle")

Enter l 1
Enter b 1

Square

In [62]:
"""A shop will give discount of 10% if the cost of purchased quantity is more than 1000.
Ask user for quantity
Suppose, one unit will cost 100.
Judge and print total cost for user.
"""
q=int(input("Enter quantity: "))
price=100*q
if price>1000:
    print("Total bill: ",price-(10*price/100))
else:
    print("Total bill: ",price)

Enter quantity:  11

Total bill:  990.0

In [63]:
"""A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
Ask user for their salary and year of service and print the net bonus amount.
"""
salary=int(input("Enter salary: "))
service=int(input("Enter service: "))
if service>5:
    print("Net Bonus Amt: ",(5*salary/100))
else:
    print("No Bonus!!!")

Enter salary:  1200
Enter service:  6

Net Bonus Amt:  60.0

In [1]:
"""11. A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade.
"""
marks=int(input("Enter Marks: "))
if marks<25:
    print("F")
elif marks>25 and marks<45:
    print("E")
elif marks>45 and marks<50:
    print("D")
elif marks>50 and marks<60:
    print("C")
elif marks>60 and marks<80:
    print("B")
else:
    print("A")

Enter Marks:  34

E

In [4]:
"""12. A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not
"""
classes_held=int(input("Enter classes held"))
classes_attended=int(input("classes attended"))
if classes_attended/classes_held>=0.75:
    print("ATTENDACE",(classes_attended/classes_held)*100)
    print("YES!")
else:
    print("ATTENDACE",(classes_attended/classes_held)*100)
    print("NO!")

Enter classes held 20
classes attended 10

ATTENDACE 50.0
NO!

In [8]:
# Take 10 integers from keyboard using loop and print their average value on the screen
nums=[]
for i in range(10):
    nums.append(int(input("Enter NO. :")))
print(sum(nums)/len(nums))

Enter NO. : 1
Enter NO. : 2
Enter NO. : 3
Enter NO. : 4
Enter NO. : 5
Enter NO. : 6
Enter NO. : 7
Enter NO. : 8
Enter NO. : 9
Enter NO. : 10

5.5

In [15]:
# Print multiplication table of 24, 50 and 29 using loop.
m=[24,50,29]
for j in m:
    for i in range(1,11):
        print(f"{j} * {i} = ",j*i)
    print("-------------")

24 * 1 =  24
24 * 2 =  48
24 * 3 =  72
24 * 4 =  96
24 * 5 =  120
24 * 6 =  144
24 * 7 =  168
24 * 8 =  192
24 * 9 =  216
24 * 10 =  240
-------------
50 * 1 =  50
50 * 2 =  100
50 * 3 =  150
50 * 4 =  200
50 * 5 =  250
50 * 6 =  300
50 * 7 =  350
50 * 8 =  400
50 * 9 =  450
50 * 10 =  500
-------------
29 * 1 =  29
29 * 2 =  58
29 * 3 =  87
29 * 4 =  116
29 * 5 =  145
29 * 6 =  174
29 * 7 =  203
29 * 8 =  232
29 * 9 =  261
29 * 10 =  290
-------------

In [18]:
# Take integer inputs from user until he/she presses q ( Ask to press q to quit after every integer input ). Print average and product of all numbers.
sums=0
while True:
    x=input("input number")
    if x=='q':
        print(sums)
        break
    else:
        sums=sums+int(x)

input number 1
input number 1
input number 1
input number 1
input number q

4

In [20]:
"""Take inputs from user to make a list. Again take one input from user and search it in the list and delete that element, 
if found. Iterate over list using for loop."""
lst=[]
while True:
    x=input("input number")
    if x=='q':
        print(lst)
        break
    else:
        lst.append(x)
ele=input("Enter Element")
for i in lst:
    if i == ele:
        lst.remove(ele)
print(lst)

input number 1
input number 2
input number 3
input number 4
input number f
input number gt
input number tg
input number gt
input number q

['1', '2', '3', '4', 'f', 'gt', 'tg', 'gt']

Enter Element gt

['1', '2', '3', '4', 'f', 'tg']

In [24]:
""" Using range(1,101), make three list, 
one containing all even numbers
one containing all odd numbers 
One containing only prime numbers..
"""
even_num=[i for i in range(1,101) if i%2==0]
odd_num=[i for i in range(1,101) if i%2!=0]
prime_num=[]
for i in range(1,101):
    c=0
    for j in range(1,i):
        if i%j==0:
            c+=1
    if c<2:
        prime_num.append(i)
print('Even no: ',even_num)
print('Odd no: ',odd_num)
print("Prime no: ",prime_num)

Even no:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd no:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
Prime no:  [1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [25]:
""" From the two list obtained in previous question, make new lists, containing only 
numbers which are divisible by 4, 6, 8, 10, 3, 5, 7 and 9 in separate lists."""
new_list=odd_num+even_num
lst=[]
for i in new_list:
    if i%4 or i%6 or i%8 or i%10 or i%3 or i%5 or i%7 or i%9:
        lst.append(i)
print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [31]:
# From a list containing ints, strings and floats, make three lists to store them separately
float_list=[]
int_list=[]
string_list=[]
values=[43,42.4,4.3,4,'fr','fe','e',23,23.4,23,32.2,35.3,'g','fr']
for i in values:
    if type(i)==int:
        int_list.append(i)
    elif type(i)==float:
        float_list.append(i)
    else:
        string_list.append(i)
print("float_list: ",float_list)
print("int_list: ",int_list)
print("string_list: ",string_list)

float_list:  [42.4, 4.3, 23.4, 32.2, 35.3]
int_list:  [43, 4, 23, 23]
string_list:  ['fr', 'fe', 'e', 'g', 'fr']

In [32]:
# You are given with a list of integer elements. Make a new list which will store square of elements of previous list.
lst=[1,2,3,4,5,6,7,8,9,10]
sqr_list=[i*i for i in lst]
print(sqr_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]